uorconnect.space www.uorconnect.space laboratorio.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  @contest-main-home {
    host uorconnect.space www.uorconnect.space
    path /desafios
  }
  redir @contest-main-home https://laboratorio.uorconnect.space/ 308

  @contest-main-ranking {
    host uorconnect.space www.uorconnect.space
    path /desafios/ranking
  }
  redir @contest-main-ranking https://laboratorio.uorconnect.space/ranking 308

  @contest-main-rules {
    host uorconnect.space www.uorconnect.space
    path /desafios/regras
  }
  redir @contest-main-rules https://laboratorio.uorconnect.space/regras 308

  @contest-main-submit {
    host uorconnect.space www.uorconnect.space
    path_regexp contest_submit ^/desafios/([^/]+)/submeter/?$
  }
  redir @contest-main-submit https://laboratorio.uorconnect.space/{re.contest_submit.1}/submeter 308

  @contest-main-detail {
    host uorconnect.space www.uorconnect.space
    path_regexp contest_detail ^/desafios/([^/]+)/?$
  }
  redir @contest-main-detail https://laboratorio.uorconnect.space/{re.contest_detail.1} 308

  reverse_proxy frontend:80
}

api.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  reverse_proxy backend:3333 {
    transport http {
      dial_timeout 10s
      response_header_timeout 120s
      read_timeout 120s
      write_timeout 120s
    }
  }
}
