uorconnect.space www.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  handle /desafios {
    redir * /minha-area?tab=desafio 308
  }

  handle_path /desafios/* {
    redir * /minha-area?tab=desafio 308
  }

  handle_path /api/* {
    reverse_proxy backend:3333 {
      transport http {
        dial_timeout 10s
        response_header_timeout 120s
        read_timeout 120s
        write_timeout 120s
      }
    }
  }

  reverse_proxy frontend:80
}

admin.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  handle_path /api/* {
    reverse_proxy backend:3333 {
      transport http {
        dial_timeout 10s
        response_header_timeout 120s
        read_timeout 120s
        write_timeout 120s
      }
    }
  }

  reverse_proxy frontend:80
}

laboratorio.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  redir https://uorconnect.space/minha-area?tab=desafio 308
}

api.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  handle /equipa/credencial/* {
    redir https://uorconnect.space{uri} 302
  }

  handle /equipa/convite/* {
    redir https://uorconnect.space{uri} 302
  }

  reverse_proxy backend:3333 {
    transport http {
      dial_timeout 10s
      response_header_timeout 120s
      read_timeout 120s
      write_timeout 120s
    }
  }
}
