uorconnect.space www.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  handle /desafios {
    redir https://laboratorio.uorconnect.space/ 308
  }

  handle_path /desafios/* {
    redir https://laboratorio.uorconnect.space{uri} 308
  }

  reverse_proxy frontend:80
}

laboratorio.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  reverse_proxy laboratorio:80
}

api.uorconnect.space {
  encode gzip zstd

  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  reverse_proxy backend:3333 {
    transport http {
      dial_timeout 10s
      response_header_timeout 120s
      read_timeout 120s
      write_timeout 120s
    }
  }
}
